<html lang = "en">
    <head>
    <title>Profile</title>    
    </head>

<div class="container p-5 my-5 bg-light text-dark">
    <h1>Volunteer Profile</h1>
    
    <p>
        <strong>Primary Email:</strong>
        <%= @user.email %>
    </p>
    
    <button type="button" class="btn btn-primary">
          <a class="nav-item"><%= link_to "Edit Information", edit_user_registration_path %></a>
    </button>
</div>

<div class="container bg-light mt-3 p-5 my-5">
    <%= month_calendar(events: @user.events, attribute: :calDate) do |date, meetings| %>
      <%= date.day %>
    <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
    <% end %>
</div>
    
    
<div class="container bg-secondary mt-3 p-5 my-5">
    <h1 style="color:white">Registered Events</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    
        <% @user.events.each do |event| %>
        <div class="col">  
        <div class="card" style="width:400px">
          <%= image_tag "#{event.organization.image}", alt: "Homepage logo with two smiling faces", width:"400px", height:"200px", crop:"pad" =%>
          <div class="card-body">
            <h4 class="card-title"> <%= event.name %> </h4>
            <p class="card-text"> <%= event.date %> </p>
            <p class="card-text"> <strong> Start: </strong> <%= event.start_time %> </p>
            <p class="card-text"> <strong> End: </strong> <%= event.end_time %> </p>
          </div>
        </div>
        </div>
        <% end %>
    </div>
    
</div>