<%= form_for(@event) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :name %>
      <font color ="red">*</font>
    </div>
    <div class="col-sm-10">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :description %>
    </div>
    <div class="col-sm-10">
      <%= form.text_area :description, :size => "30x5" %>
    </div>
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :date %>
    </div>
    <div class="col-sm-10">
      <%=form.date_field :date %>
    </div>
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :start_time %>
    </div>
    <div class="col-sm-10">
      <%= form.time_field :start_time %>
    </div>
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :end_time %>

    </div>
    <div class="col-sm-10">
      <%= form.time_field :end_time %>
    </div>
  </div>

<div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :organization %>
      <font color ="red">*</font>
    </div>
    <div class="col-sm-10">
      <%= form.collection_select :organization_id, Organization.all, :id, :name %>
    </div>
</div>


  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      <%= form.label :link %>
      <font color ="red">*</font>
    </div>
    <div class="col-sm-10">
      <%= form.text_field :link %>
    </div>
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-2">
      
      <%= form.submit class: "btn btn-lg btn-primary" %>
    </div>

  </div>
<% end %>