<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Events</title>
  </head>


<div class="container mt-3 p-5 my-5">
<h1>Events</h1>
    
    <% @events.each do |event| %>
       <div class="card mb-3" style="max-width: 1500px;">
      <div class="row g-0">
      <h5 class="card-header"> <%= event.name %> </h5>
        <div class="col-md-3">
           <%= image_tag "#{event.organization.image}", alt: "Photo of #{event.organization}", width: "300px", height:"200px", crop:"pad" =%>
          </div>
        <div class="col-md-2">
          <div class="card-body">
              
                <p class="card-text"> <b>Date:</b> <%= event.date %> </p>
                <p class="card-text"> <b>Start time:</b> <%= event.start_time %> </p>
                <p class="card-text"> <b>End time:</b> <%= event.end_time %> </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
                <p class="card-text"> <%= event.description %></p>
                <td><%= link_to image_tag("eye.jfif", size: "30"), event%></td>
                <td><%= link_to image_tag("pencil.jfif", size: "30"), edit_event_path(event) %></td>

          </div>
        </div>

      </div>
    </div>
    <% end %>

    <div class = "container pb-5">
        <%= link_to 'New Event', new_event_path, class:"btn btn-secondary float-end" %>
    </div>  

    
    


    
</div>
    

    