<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Events</title>
  </head>

    <script>
        function myFunction() {
            var input, filter, cards, cardContainer, h5, title, i;
            input = document.getElementById("myFilter");
            filter = input.value.toUpperCase();
            cardContainer = document.getElementById("myItems");
            cards = cardContainer.getElementsByClassName("card");
            for (i = 0; i < cards.length; i++) {
                title = cards[i].querySelector(".card-header");
                if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }
    </script>

<div class="container mt-3 p-5 my-5" id="myItems">    
        <div class="row">
        <div class="col">
            <h1 id="events-text">Events</h1>
            </div>    
        <div class="col">
            <%= link_to 'New Event', new_event_path, class:"btn btn-secondary float-end ml-auto" %>
            </div>
        
        <div class="colo">
            <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
            </div>
        
        </div>
    
    <% @events.each do |event| %>
       <div class="card border-secondary mb-3" style="max-width: 1500px;" id="event-card">
      <h5 class="card-header"> <%= event.name %> </h5>
      <div class="row g-0 align-items-start">
        <div class="col">
              <%= image_tag "#{event.organization.image}", alt: "Photo of #{event.organization}", class:"img-responsive", width:"300px", height:"200px", crop:"pad" =%>
           
          </div>
        <div class="col-3">
          <div class="card-body">
              
                <p class="card-text"> <b>Date:</b> <%= event.date %> </p>
                <p class="card-text"> <b>Start time:</b> <%= event.start_time.strftime("%I:%M %p") %> </p>
                <p class="card-text"> <b>End time:</b> <%= event.end_time.strftime("%I:%M %p") %> </p>
          </div>
        </div>
        <div class="col-5">
          <div class="card-body">
                <p class="card-text"> <%= event.description %></p>
                
          </div>
        </div>
        <div class="col me-auto">
            <%= link_to image_tag("eye.jfif", size: "30"), event%>
            <p><%= link_to image_tag("pencil.jfif", size: "30"), edit_event_path(event) %></p>
             <% if signed_in? %>
             <% if event.added?(current_user) %>
                <p><%= button_to "+", add_path(event), method: "put", class:"btn btn-secondary btn-sm mb-5", disabled: true %></p>
            <% else %>
                <p><%= button_to "+", add_path(event), method: "put", class:"btn btn-secondary btn-sm mb-5" %></p>
            <% end %>
        <% end %>
          </div>


      </div>
    
    </div>
    <% end %>
</div>

