<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Events</title>
  </head>
    
    <script>
function hidePagination(){
    var paginate = document.getElementById("paginate");
      if (paginate.style.display === "block") {
        paginate.style.display = "none";
      }
}
        
function showPagination(){
    var paginate = document.getElementById("paginate");
      if (paginate.style.display === "none") {
        paginate.style.display = "block";
      }
}   
     
function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector("#event-description");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
    var inputText = document.getElementById("myFilter").value;
    if (inputText){
        hidePagination();
    }
    else{
        showPagination();
    }

}
        
var filter = (filter) => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("card");
    for (let i = 0; i < cards.length; i++) {
        let title = cards[i].querySelector("#events-text");
        if (title.innerText.indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}

var clearAll = () => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        cards[i].style.display = "";
    }
}
    </script>


<div class="container mt-3 p-5 my-5" id="myItems">    
        <div class="row">
        <div class="col">
            <h1 id="events-text">Events</h1>
            </div>   
        <div class="col text-right">
                     <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Find an event by description...">
                </div>
                <div class="col-2"> 
                    <div class="row">
                        <%= link_to 'New Event', new_event_path, class:"btn btn-secondary float-end ml-auto" %>
                    </div>
                         
                </div>
        </div>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Build');hidePagination();">Build</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Education');hidePagination();">Education</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Food');hidePagination();">Food</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Garden');hidePagination();">Garden</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Health');hidePagination();">Health</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Relief');hidePagination();">Relief</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="filter('Rescue');hidePagination();">Rescue</button>
            <button type="button" class="btn btn-secondary mb-2" onclick="clearAll();showPagination();">Clear</button>

    <% @events.each do |event| %>
       <div class="card border-secondary mb-3" style="max-width: 1500px;" id="event-card">
      <h5 class="card-header"> <%= event.name %> </h5>
      <div class="row g-0 align-items-start">
        <div class="col">
              <%= image_tag "#{event.organization.image}", alt: "Photo of #{event.organization}", class:"img-responsive", width:"300px", height:"200px", crop:"pad" =%>
           
          </div>
        <div class="col-3">
          <div class="card-body">
              
                <p class="card-text"> <b>Date:</b> <%= event.date %> </p>
                <p class="card-text"> <b>Start time:</b> <%= event.start_time.strftime("%I:%M %p") %> </p>
                <p class="card-text"> <b>End time:</b> <%= event.end_time.strftime("%I:%M %p") %> </p>
          </div>
        </div>
        <div class="col-5">
          <div class="card-body" id="event-description">
                <p class="card-text"> <%= event.description %></p>
                <p class="card-text" id="events-text"> <%= event.organization.category %></p>
                
          </div>
        </div>
        <div class="col me-auto">
            <%= link_to image_tag("eye.jfif", size: "30", alt: "Eye Icon"), event%>
            <p><%= link_to image_tag("pencil.jfif", size: "30", alt: "Pencil Icon"), edit_event_path(event) %></p>
             <% if signed_in? %>
             <% if event.added?(current_user) %>
                <p><%= button_to "+", add_path(event), method: "put", class:"btn btn-secondary btn-sm mb-5", disabled: true %></p>
            <% else %>
                    <p><%= button_to "+", add_path(event), method: "put", class:"btn btn-secondary btn-sm mb-5" %></p>
            <% end %>
        <% end %>
          </div>


      </div>
    
    </div>
    <% end %>
        <div id='paginate' class="" style="display: block;">
            <%= paginate @events %>
        </div>
</div>

