<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Events</title>    
    </head>



<div class="container mt-3 p-5 my-5">
<h1>Events</h1>

<table class="table">
  <thead class="table-secondary">
    <tr>
      <th><%= link_to "Name", :sort => "name"%></th>
      <th><%= link_to "Date", :sort => "date"%></th>
      <th><%= link_to "Start time", :sort => "start_time"%></th>
      <th><%= link_to "End time", :sort => "end_time"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class = "container pb-5">
        <%= link_to 'New Event', new_event_path, class:"btn btn-secondary float-end" %>
    </div>  

    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}", "#{event.link}", :target => '_blank', style: 'color:#0080ff;', class: 'css_class'  %></td>
        <td><%= event.date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event, class:"btn btn-secondary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class:"btn btn-secondary btn-sm" %></td>
        <td><%= button_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
