<div class="container p-5 my-5 bg-light text-dark">


<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>
    
<p>
  <strong>Organization:</strong>
  <%= @event.organization %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
