<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" >
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      
    </div>
  <% end %>

  <div class="field row my-2 pt-2" >
      
    <div class="col-sm-4">
      <%= f.label :name %>
      <font color ="red">*</font>
    </div>
      
    <div class="col-sm-8">
      <%= f.text_field :name %>
    </div>
      
  </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.label :address %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :address %>
    </div>
   </div>

  <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.label :web_address %>
      <font color ="red">*</font>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :web_address %>
    </div>
   </div>  
      
  <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.label "Contact phone (XXX - XXX - XXXX)" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :contact_phone %>
    </div>
  
</div>
  <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.label :contact_email %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :contact_email %>
    </div>
</div> 
    <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.label :category %>
      <font color ="red">*</font>
    </div>
    <div class="col-sm-8">
      <%= f.select :category, ['Food', 'Advocacy', 'Garden', 'Education', 'Build', 'Relief', 'Health', 'Rescue', 'Other'] %>
    </div>
</div>
  <div class="field row my-2 pt-2" >
    <div class="col-sm-4">
      <%= f.submit class: "btn btn-lg btn-primary"%>
    </div>
  </div>
<% end %>
