<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Organizations</title>
  </head>


<div class="container mt-3 p-5 my-5">
<h1>Organizations</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    
        <% @organizations.each do |organization| %>
        <div class="col">  
        <div class="card h-100">
          <h5 class="card-header"> <%= organization.name %> </h5>
          <%= image_tag "#{organization.image}", alt: "Photo of #{organization}", height:"200px", crop:"pad" =%>
          <div class="card-body">
            <h4 class="card-title"> <%= organization.name %> </h4>
            <p class="card-text"> <%= organization.category %> <td><%= link_to image_tag("eye.jfif", size: "30"), organization%></td> </p>
          </div>
        </div>
        </div>
        <% end %>
    </div>
    


    
</div>
