<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Organizations</title>
  </head>

    <script>
function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-header");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}
        
var filter = (filter) => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("col");
    for (let i = 0; i < cards.length; i++) {
        let title = cards[i].querySelector(".card-body");
        if (title.innerText.indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}

var clearAll = () => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        cards[i].style.display = "";
    }
}
    </script>
    

<div class="container mt-3 p-5 my-5">
<div class="row">
        <div class="col">
            <h1 id="organizations-text">Organizations</h1>
            </div>   
     <div class="col text-right">
                     <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Find an organization...">
                </div>
        <div class="col-2">
            <div class="row">
            <%= link_to 'New Organization', new_organization_path, class:"btn btn-primary float-end ml-auto" %>
                 </div>
                 </div>
        
        </div>
<!-- <div class="row">
    <div class="col text-left">
        <div class="container ml-0"> -->
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Build')">Build</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Education')">Education</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Food')">Food</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Garden')">Garden</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Education')">Health</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Relief')">Relief</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Rescue')">Rescue</button>
            <button type="button" class="btn btn-primary mb-2" onclick="clearAll()">Clear</button>
<!--         </div>
    </div>
</div> -->
    <div class="row row-cols-1 row-cols-md-3 g-4" id="myItems">
    
        <% @organizations.each do |organization| %>
        <div class="col">
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
        <div class="card h-100 border-primary">
          <h5 class="card-header"> <%= organization.name %> </h5>
          <%= image_tag "#{organization.image}", alt: "Photo of #{organization}", height:"200px", crop:"pad" =%>
          <div class="card-body">
            <p class="card-text" id="organizations-text"> <%= organization.category %> </p>
          </div>
        </div>
            </div>
            <div class="flip-card-back">
             <div class="card h-100 border-primary">
              <h5 class="card-header"> <%= organization.name %> </h5>
              <div class="card-body">
                    <p class="card-text" id="organizations-text"> <%= organization.category %> </p>
                    <p class="card-text"> <%= organization.contact_phone %> </p>
                    <p class="card-text"> <%= organization.contact_email %> </p>
                    <%= link_to 'See more', organization, class:"btn btn-primary" %>
              </div>
             </div>
    </div>
        </div>
        </div>
        </div>
        <% end %>
    </div>
    


    
</div>
