<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Organizations</title>
  </head>

    <script>
function hidePagination(){
    var paginate = document.getElementById("paginate");
      if (paginate.style.display === "block") {
        paginate.style.display = "none";
      }
}
        
function showPagination(){
    var paginate = document.getElementById("paginate");
      if (paginate.style.display === "none") {
        paginate.style.display = "block";
      }
}        

function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-header");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
    var inputText = document.getElementById("myFilter").value;
    if (inputText){
        hidePagination();
    }
    else{
        showPagination();
    }

}
        
var filter = (filter) => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("col");
    for (let i = 0; i < cards.length; i++) {
        let title = cards[i].querySelector(".card-body");
        if (title.innerText.indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
    
}

var clearAll = () => {
    var cardContainer = document.getElementById("myItems");
    var cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        cards[i].style.display = "";
    }
}
    </script>
    

<div class="container mt-3 p-5 my-5">
<div class="row">
        <div class="col">
            <h1 id="organizations-text">Organizations</h1>
            </div>   
     <div class="col text-right">
                     <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Find an organization...">
                </div>
        <div class="col-2">
            <div class="row">
            <%= link_to 'New Organization', new_organization_path, class:"btn btn-primary float-end ml-auto" %>
                 </div>
                 </div>
        
        </div>



            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Build');hidePagination();">Build</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Education');hidePagination();">Education</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Food');hidePagination();">Food</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Garden');hidePagination();">Garden</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Health');hidePagination();">Health</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Relief');hidePagination();">Relief</button>
            <button type="button" class="btn btn-outline-primary mb-2" onclick="filter('Rescue');hidePagination();">Rescue</button>
            <button type="button" class="btn btn-primary mb-2" onclick="clearAll();showPagination();">Clear</button>


    <div class="row row-cols-1 row-cols-md-3 g-4" id="myItems">
    
        <% @organizations.each do |organization| %>
        <div class="col">
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
        <div class="card h-100 border-primary">
          <h5 class="card-header"> <%= organization.name %> </h5>
            <% if organization.image %>
              <%= image_tag "#{organization.image}", alt: "Photo of #{organization} in action", height:"200px", crop:"pad" =%>
            <% end %>
            <div class="card-body">
            <p class="card-text" id="organizations-text"> <%= organization.category %> </p>
          </div>
        </div>
            </div>
            <div class="flip-card-back">
             <div class="card h-100 border-primary">
              <h5 class="card-header"> <%= organization.name %> </h5>
              <div class="card-body">
                    <p class="card-text" id="organizations-text"> <%= organization.category %> </p>
                    <p class="card-text"> <%= organization.contact_phone %> </p>
                    <p class="card-text"> <%= organization.contact_email %> </p>
                    <%= link_to 'See more', organization, class:"btn btn-primary" %>
              </div>
             </div>
    </div>
        </div>
        </div>
        </div>
        <% end %>
        <div id='paginate' style="display: block;">
            <%= paginate @organizations %>
        </div>
    </div>

    


    
</div>
