<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Organizations</title>
  </head>


<div class="container mt-3 p-5 my-5">
<h1>Organizations</h1>

<table class="table">
  <thead class="table-secondary">
    <tr>
      <th><%= link_to "Name", :sort => "name"%></th>
      <th><%= link_to "Organization Type", :sort => "category"%></th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class = "container pb-5">
        <%= link_to 'New Organization', new_organization_path, class:"btn btn-secondary float-end" %>
    </div>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to "#{organization.name}", "#{organization.web_address}",:target => '_blank', style: 'color:#0080ff;', class: 'css_class' %></td>
        <td><%= organization.category %></td> 

        <td><%= link_to 'Show', organization, class:"btn btn-secondary btn-sm"  %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization), class:"btn btn-secondary btn-sm"  %></td>
        <td><%= button_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


    
</div>
