<p id="notice"><%= notice %></p>

  <head>
    <title>Organization Info</title>
  </head>

<div class="container p-5 my-5 bg-light text-dark">
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Web Address:</strong>
  <%= @organization.web_address %>
</p>

<p>
  <strong>Primary Contact Phone:</strong>
  <%= @organization.contact_phone %>
</p>

<p>
  <strong>Primary Contact Email:</strong>
  <%= @organization.contact_email %>
</p>

<p>
  <strong>Organization Type:</strong>
  <%= @organization.category %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
  </div>