<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <title>Organization Info</title>
  </head>
<body>
<div class="container p-5 my-5 bg-light text-dark">
<h1><%= @organization.name %></h1>
<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Web Address:</strong>
  <%= link_to "Explore #{@organization.name}", "#{@organization.web_address}", :target => '_blank', style: 'color:#0080ff;', class: 'css_class'  %>
</p>

<p>
  <strong>Primary Contact Phone:</strong>
  <%= @organization.contact_phone %>
</p>

<p>
  <strong>Primary Contact Email:</strong>
  <%= @organization.contact_email %>
</p>

<p>
  <strong>Organization Type:</strong>
  <%= @organization.category %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
  </div>
    <h2 class = "text-center">Find your way there!</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">

      var results = <%=results(@organization.address)=%>;
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([results[1],results[0]]),
          zoom: 15
        })
      });
      
       var layer = new ol.layer.Vector({
     source: new ol.source.Vector({
         features: [
             dot = new ol.Feature({
                 geometry: new ol.geom.Point(ol.proj.fromLonLat([results[1],results[0]]))
             })
         ]
     })

 });
        


 map.addLayer(layer);
    </script>
</body>
</html>