<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Connect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/fontawesome-all.min.js"></script>
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="https://arcane-caverns-98402.herokuapp.com/">Home</a>
      <a class="nav-item nav-link" href="https://arcane-caverns-98402.herokuapp.com/organizations">Organizations</a>
      <a class="nav-item nav-link" href="https://arcane-caverns-98402.herokuapp.com/events">Events</a>
<!--       <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul> -->
      <a class="nav-item"><%= link_to "Sign Up", new_user_registration_path %></a>
      <a class="nav-item"><%= link_to "Login", new_user_session_path %></a>
      <a class="nav-item"><%= link_to "Edit profile", edit_user_registration_path %></a>
    </div>
  </div>
</nav>
  
  <body>
    <%= yield %>
  </body>
  <div>
    
  </div>
  <div class="footer ">
  <!-- Grid container -->
  <div class="container-fluid p-4 bg-light">
  <div class = "container">
    <h5 class="text-uppercase">Volunteer Connect</h5>
      <p>
        If you need support or want to see improvements to the site, feel free
        to message the developers! 
      </p>
      <p>
        <i class="fas fa-inbox me-3"></i>
        gdarley@tulane.edu
      </p>
    <p><i class="fas fa-map-marker-alt me-3"></i> 6823 St. Charles Ave, New Orleans, LA 70118</p>
  </div>

  </div>
  <!-- Grid container -->

</div>
  
</html>
